/* #into{
    background-color:rgb(145, 207, 124);
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    justify-content: center;
} */

/* navbar starts */

.navbar_nav {
    display: flex;
    justify-content: center;
}

/* navbar 2 starts */

#navbarNav2 .nav-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 130px;
    height: 110px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#navbarNav2 i {
    padding: 30px 0px 10px 0px;
}

#navbarNav2 i:hover {
    color: rgb(255, 255, 255) !important;
}    

#navbarNav2 a:hover {
    color: rgb(255, 255, 255) !important;
}    

.border-secondary {
    background-color: rgb(145, 145, 145);
    border-color: rgb(145, 145, 145) !important;
}

.border-secondary i {
    color: rgb(255, 255, 255) !important;
}

.border-secondary a {
    color: rgb(255, 255, 255);

}

.border-danger:hover {
    background-color: rgb(227, 53, 13) !important;
}

.border-danger {
    border-color: rgb(227, 53, 13) !important;
}

.border-danger-subtle:hover {
    background-color: rgb(238, 107, 47) !important;
}

.border-danger-subtle {
    border-color: rgb(238, 107, 47) !important;
}

.border-warning:hover {
    background-color: rgb(230, 188, 47) !important;
}

.border-warning {
    border-color: rgb(230, 188, 47) !important;
}

.border-success:hover {
    background-color: rgb(77, 173, 91) !important;
}

.border-success {
    border-color: rgb(77, 173, 91) !important;
}

.border-info:hover {
    background-color: rgb(48, 167, 215) !important;
}

.border-info {
    border-color: rgb(48, 167, 215) !important;
}

.border-primary:hover {
    background-color: rgb(27, 83, 186) !important;
}

.border-primary {
    border-color: rgb(27, 83, 186) !important;
}

/* body starts here */

#black {
    background-image: url('./assets/images/body_bg.png');
}

#white {
    background-color: rgb(255, 255, 255);
    width: 1280px;
    margin: auto;
}

.main {
    width: 960px;
    margin: auto;
}

/* carousel starts here */

#carousel {
    display: flex;
    justify-content: center;
}

.card_up {
    width: 350px;
    height: 300px;
    background-color: rgb(82, 82, 82);
}

.card_down {
    color: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    width: 350px;
    /* height: 150px; */
    background-color: rgb(35, 35, 35);
}

.name {
    display: flex;
    justify-content: space-between;
}

.type {
    margin: 15px 0px 0px 0px;
    display: flex;
}

.type h5 {
    width: 100px;
}

.ability {
    margin: 15px 0px 0px 0px;
    display: flex;
}

.ability h5 {
    width: 100px;
}

/* owlcarousel starts here */

.item{
    width: 400px;
}

/* types */

.grass {
    padding: 0 10px 0 10px;
    background-color: rgb(155, 204, 80);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.fighting {
    padding: 0 10px 0 10px;
    background-color: rgb(213, 103, 35);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.psychic{
    padding: 0 10px 0 10px;
    background-color: rgb(243, 102, 185);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.normal{
    padding: 0 10px 0 10px;
    background-color: rgb(164, 172, 175);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.fairy{
    padding: 0 10px 0 10px;
    background-color: rgb(253, 185, 233);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.dragon {
    padding: 0 10px 0 10px;
    background-image: linear-gradient(#53a4cf 50%, #f16e57 50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.poison{
    padding: 0 10px 0 10px;
    background-color: rgb(185, 127, 201);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.water{
    padding: 0 10px 0 10px;
    background-color: rgb(69, 146, 196);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.ghost{
    padding: 0 10px 0 10px;
    background-color: rgb(123, 98, 163);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

.ice{
    padding: 0 10px 0 10px;
    background-color: rgb(81, 196, 231);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 5px;
}

/* types */

.test {
    background-color: rgb(145, 207, 124);
    margin: 25px;
    width: 250px;
    height: 250px;
}

